.text-secondary-color {
  color: var(--fbp-text-secondary);
}

.fbp-width-height-100 {
  width: 100%;
  height: 100%;
}

.fbp-flex {
  display: flex;
}

.fbp-wrap {
  flex-wrap: wrap;
}

.fbp-flex-shrink-0 {
  flex-shrink: 0;
}

.fbp-flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.fbp-flex-basic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fbp-between {
  justify-content: space-between;
}

.fbp-start {
  justify-content: flex-start;
}

.fbp-end {
  justify-content: flex-end;
}

.fbp-items-center,
.fbp-item-center,
.fbp-align-center {
  align-items: center;
}

.fbp-align-end {
  align-items: flex-end;
}

.fbp-align-start {
  align-items: start;
}

.fbp-flex-gap {
  column-gap: 20px;
}

.fbp-gap {
  gap: 20px;
}
.fbp-gap-12 {
  gap: 12px;
}
.fbp-flex-row-gap {
  row-gap: 16px;
}

.fbp-inline {
  display: inline-flex;
}

.fbp-color-blue {
  color: var(--fbp-secondary-main);
}

.fbp-flex-gap2 {
  grid-gap: 2px;
}

.fbp-flex-gap3 {
  grid-gap: 3px;
}

.fbp-flex-gap4 {
  grid-gap: 4px;
}

.fbp-flex-gap5 {
  grid-gap: 5px;
}

.fbp-flex-gap6 {
  grid-gap: 6px;
}

.fbp-flex-gap7 {
  grid-gap: 7px;
}

.fbp-flex-gap8 {
  grid-gap: 8px;
}

.fbp-flex-gap9 {
  grid-gap: 9px;
}

.fbp-flex-gap10 {
  grid-gap: 10px;
}

.fbp-hr {
  margin: 8px 0;
  height: 2px;
  background: var(--fbp-other-outlined-border);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fbp-mb-24 {
  margin-bottom: 24px !important;
}

.fbp-hr.mx-10 {
  margin-left: -10px;
  margin-right: -10px;
}

.fbp-mr-6 {
  margin-right: 6px;
}

.fbp-ml-10 {
  margin-left: 10px;
}

.fbp-mb-50 {
  margin-bottom: 50px;
}

.fbp-mb-10 {
  margin-bottom: 10px;
}

.fbp-cursor-pointer {
  cursor: pointer;
}

.fbp-block {
  display: block;
}

.fbp-transition {
  transition: all 0.3s ease-in-out;
}

.fbp-flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fbp-gap-16 {
  column-gap: 16px;
}

.fbp-gap-50 {
  gap: 50px;
}

#FormBuilderV3Module-container svg {
  //cursor: pointer;
  //top: 0;
}

.fbp-padding-bottom-0 {
  padding-bottom: 0;
}

.fbp-padding-top-0 {
  padding-top: 0;
}

body .fbp-border-bottom-0 {
  border-bottom: 0;
}

.fbp-border-top-0 {
  border-top: 0;
}


.fbp_media_wraper p.fbp_loading_content {
  margin-left: 30px;
}

.fbp-span-of-icon {
  display: inline-flex;
  margin-left: 5px;
}
.fbp-span-text {
  display: inline-flex;
}
.border-0 {
  border-width: 0 !important;
}

.w-auto {
  width: auto !important;
}

.fbp_text_seconday {
  color: var(--fbp-text-secondary);
}

.fbp_has_scroll {
  height: 100%;
  overflow-y: auto;
}
.fbp_has_scroll::-webkit-scrollbar-track {
  box-shasdow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #112C4F;
  opacity: 0.8;
}
.fbp_has_scroll::-webkit-scrollbar {
  width: 6px;
}
.fbp_has_scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #5A5BD7;
}
.fbp_has_xscroll {
  height: 100%;
  overflow-x: auto;
}

.fbp_has_xscroll::-webkit-scrollbar-track {
  -webkit-box-shasdow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--dark_blue);
}

.fbp_has_xscroll-80::-webkit-scrollbar-track {
  margin-top: 30px;
}

.fbp_has_xscroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.fbp_has_xscroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.fbp_has_xscroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--purple);
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fbp_overflow_hidden {
  overflow: hidden;
}

.fbp_text_center {
  text-align: center;
}

.fbp_text_left {
  text-align: left;
}

.fbp_text_right {
  text-align: right;
}

img.img-fluid {
  width: 100%;
}

.mAuto {
  margin-left: auto;
  margin-right: auto;
}

.mlAuto {
  margin-left: auto;
}

.mrAuto {
  margin-right: auto;
}

.fbp-badge-label {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  letter-spacing: 0.14px;
  color: #000000;
}

.fbp-chip-medium {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #000000;
}

.fbp-chip {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #000000;
}

.fbp-chip2 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.16px;
  color: #000000;
}

.fbp-chip2-medium {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.16px;
  color: #000000;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
