$bg-red: #FF264A;
$bg-white: #fff;
$bg-black: #000000;
$lightPaste: 68EBCA;
$base-font-family: Poppins;
$fbp-text-secondary: #546376;
$text-light-blue:#3c7ef3;
$text-dark-blue: #133159;
$text-dark-blue-50: #1331597F;
$text-dark-blue-65: #133159a6;
$text-blue-accent: #006df580;
$download-border: #E5E8EF;
$active-card-label: #9e9e9e;
$use-history-border: #c1c1c180;
$border-light-gray: #d5cbff;
$button-light-blue: #2F80ED;
$table-thead-bg: #71758e14;
$scrollbar-box-shadow: #0000004C;
$progressBarBg : #3c7ef31a;





$fbp-heading-image-width: 100%;
$fbp-heading-image-height: 240px;
$fbp-heading-image-border-radius: 12px;
$pbp-fot: 16px;
$fieldSpacing:20px;
$innerGap: 80px;
$fbp-mmm: linear-gradient(180deg, #f4f4f4 6.87%, #ffffff 90.67%);
$fbp-border-radius-small: 4px;
$fbp-white-color: #fff;
$fbp-outline-border-color: rgba(0, 109, 245, 0.5);
$fbp-text-primary: #1c1b1f;

$fbp-text-disabled: rgba(84, 99, 118, 0.66);
$fbp-text-secondary-white: rgba(255, 255, 255, 0.7);
$fbp-text-disabled-white: rgba(255, 255, 255, 0.2);
$fbp-text-primary-white: #ffffff;

$fbp-text-dark-primary: #ffffff;
$fbp-text-dark-secondary: rgba(255, 255, 255, 0.6);
$fbp-text-dark-disabled: rgba(255, 255, 255, 0.38);
$fbp-other-dark: #133159;

$fbp-primary-main: #6258ff;
$fbp-primary-dark: #15008a;
$fbp-primary-light: #d2ccff;
$fbp-primary-contrast: #ffffff;
$fbp-primary-states-outlined-resting-border: rgba(98, 88, 255, 0.5);
$fbp-primary-states-outlined-hover-background: rgba(98, 88, 255, 0.08);
$fbp-primary-states-contained-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  #6258ff;

$fbp-secondary-main: #006df5;
$fbp-secondary-dark: #002e75;
$fbp-secondary-light: #d9e2ff;
$fbp-secondary-contrast: #ffffff;

$fbp-secondary-states-outlined-resting-border: rgba(0, 109, 245, 0.5);
$fbp-secondary-states-outlined-hover-background: rgba(0, 109, 245, 0.08);
$fbp-secondary-states-contained-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  #006df5;

$fbp-action-active: #949db2;
$fbp-action-hover: rgba(98, 88, 255, 0.06);
$fbp-action-selected: rgba(28, 27, 31, 0.08);
$fbp-popup-mode-bg: rgba(28, 27, 31, 0.56);
$fbp-action-disabled: rgba(28, 27, 31, 0.38);
$fbp-action-disabled-background: rgba(28, 27, 31, 0.12);
$fbp-action-focus: rgba(28, 27, 31, 0.12);
$fbp-action-hover-white: rgba(255, 255, 255, 0.14);
$fbp-action-active-white: rgba(255, 255, 255, 0.08);
$fbp-action-active-black: rgba(84, 99, 118, 0.06);