:root {
  /* top bar code */
  --tb-bg-color: #000000;
  --tb-text-color: #fff;
  --tb-toggle-color: #3c7ef3;

  --tb-search-background: #fff;
  --tb-search-border: #000000;
  --tb-search-text: #000000;
  --tb-search-placeholder: gray;
  --tb-search-icon: gray;

  --tb-icon-color: #fff;
  --tb-icon-background-color: #ff264a;
  --tb-icon-hover-icon-color: #c2c2c2;
  --tb-icon-hover-background-color: #a30e27;

  --tb-badge-bg: #fff;
  --tb-badge-text: #000000;

  // Sidebar Code
  --sb-bg-color: #cad345;
  --sb-menu-text: #fff;
  --sb-menu-icon: #fff;
  --sb-menu-active-text: #000;
  --sb-menu-active-icon: #000;
  --sb-menu-active-bg: #ff264a;
}

// Side bar variable

$sb-bg-color: var(--sb-bg-color);
$sb-menu-text: var(--sb-menu-text);
$sb-menu-icon: var(--sb-menu-icon);
$sb-menu-active-text: var(--sb-menu-active-text);
$sb-menu-active-icon: var(--sb-menu-active-icon);
$sb-menu-active-bg: var(--sb-menu-active-bg);

// End

// Static
$white-color: #fff;
$black-color: #000;
$red-color: #ff264a;
// End

// Top bar variable

$tb-bg-color: var(--tb-bg-color);
$tb-text-color: var(--tb-text-color);

$tb-toggle-color: var(--tb-toggle-color);

$tb-search-border: var(--tb-search-border);
$tb-search-background: var(--tb-search-background);
$tb-search-text: var(--tb-search-text);
$tb-search-placeholder: var(--tb-search-placeholder);
$tb-search-icon: var(--tb-search-icon);

$tb-icon-color: var(--tb-icon-color);
$tb-icon-background-color: var(--tb-icon-background-color);
$tb-icon-hover-icon-color: var(--tb-icon-hover-icon-color);
$tb-icon-hover-background-color: var(--tb-icon-hover-background-color);

$tb-badge-bg: var(--tb-badge-bg);
$tb-badge-text: var(--tb-badge-text);

// End
