:root {
  /* top bar code */
  --tb-bg-color: #000000;
  --tb-text-color: #fff;
  --tb-toggle-color: #3c7ef3;

  --tb-search-background: #fff;
  --tb-search-border: #000000;
  --tb-search-text: #000000;
  --tb-search-placeholder: gray;
  --tb-search-icon: gray;

  --tb-icon-color: #fff;
  --tb-icon-background-color: #ff264a;
  --tb-icon-hover-icon-color: #c2c2c2;
  --tb-icon-hover-background-color: #a30e27;

  --tb-badge-bg: #fff;
  --tb-badge-text: #000000;
}

$white-color: #fff;
$black-color: #000;
$red-color: #ff264a;

// Top bar variable

$tb-bg-color: var(--tb-bg-color);
$tb-text-color: var(--tb-text-color);

$tb-toggle-color: var(--tb-toggle-color);

$tb-search-border: var(--tb-search-border);
$tb-search-background: var(--tb-search-background);
$tb-search-text: var(--tb-search-text);
$tb-search-placeholder: var(--tb-search-placeholder);
$tb-search-icon: var(--tb-search-icon);

$tb-icon-color: var(--tb-icon-color);
$tb-icon-background-color: var(--tb-icon-background-color);
$tb-icon-hover-icon-color: var(--tb-icon-hover-icon-color);
$tb-icon-hover-background-color: var(--tb-icon-hover-background-color);

$tb-badge-bg: var(--tb-badge-bg);
$tb-badge-text: var(--tb-badge-text);

// End

$lightPaste: #68ebca;
$base-font-family: Poppins;
$fbp-text-secondary: #546376;
$text-light-blue: #3c7ef3;
$text-dark-blue: #133159;
$text-dark-blue-50: #1331597f;
$text-dark-blue-65: #133159a6;
$text-blue-accent: #006df580;
$download-border: #e5e8ef;
$active-card-label: #9e9e9e;
$use-history-border: #c1c1c180;
$border-light-gray: #d5cbff;
$button-light-blue: #2f80ed;
$table-thead-bg: #71758e14;
$scrollbar-box-shadow: #0000004c;
$progressBarBg: #3c7ef31a;

$fbp-heading-image-width: 100%;
$fbp-heading-image-height: 240px;
$fbp-heading-image-border-radius: 12px;
$pbp-fot: 16px;
$fieldSpacing: 20px;
$innerGap: 80px;
$fbp-mmm: linear-gradient(180deg, #f4f4f4 6.87%, #ffffff 90.67%);
$fbp-border-radius-small: 4px;
$fbp-white-color: #fff;
$fbp-outline-border-color: rgba(0, 109, 245, 0.5);
$fbp-text-primary: #1c1b1f;

$fbp-text-disabled: rgba(84, 99, 118, 0.66);
$fbp-text-secondary-white: rgba(255, 255, 255, 0.7);
$fbp-text-disabled-white: rgba(255, 255, 255, 0.2);
$fbp-text-primary-white: #ffffff;

$fbp-text-dark-primary: #ffffff;
$fbp-text-dark-secondary: rgba(255, 255, 255, 0.6);
$fbp-text-dark-disabled: rgba(255, 255, 255, 0.38);
$fbp-other-dark: #133159;

$fbp-primary-main: #6258ff;
$fbp-primary-dark: #15008a;
$fbp-primary-light: #d2ccff;
$fbp-primary-contrast: #ffffff;
$fbp-primary-states-outlined-resting-border: rgba(98, 88, 255, 0.5);
$fbp-primary-states-outlined-hover-background: rgba(98, 88, 255, 0.08);
$fbp-primary-states-contained-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  #6258ff;

$fbp-secondary-main: #006df5;
$fbp-secondary-dark: #002e75;
$fbp-secondary-light: #d9e2ff;
$fbp-secondary-contrast: #ffffff;

$fbp-secondary-states-outlined-resting-border: rgba(0, 109, 245, 0.5);
$fbp-secondary-states-outlined-hover-background: rgba(0, 109, 245, 0.08);
$fbp-secondary-states-contained-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  #006df5;

$fbp-action-active: #949db2;
$fbp-action-hover: rgba(98, 88, 255, 0.06);
$fbp-action-selected: rgba(28, 27, 31, 0.08);
$fbp-popup-mode-bg: rgba(28, 27, 31, 0.56);
$fbp-action-disabled: rgba(28, 27, 31, 0.38);
$fbp-action-disabled-background: rgba(28, 27, 31, 0.12);
$fbp-action-focus: rgba(28, 27, 31, 0.12);
$fbp-action-hover-white: rgba(255, 255, 255, 0.14);
$fbp-action-active-white: rgba(255, 255, 255, 0.08);
$fbp-action-active-black: rgba(84, 99, 118, 0.06);
