@import '../base/variables';


.fbp_btn {
  font-family: $base-font-family;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: capitalize;
  border-radius: var(--fbp-border-radius-small);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  column-gap: 6px;
  padding: 0 12px;

  &.fbp_btn_disable {
    opacity: 0.7;
    &:hover,
    &:active {
      cursor: default;
    }
  }
}
