// Variables & Functions
@import "./otzCss/variables";

// Base & Layout
@import "./otzCss/base";

// Colors

// Components (Button, card, navbar)
@import "./otzCss/components/card";

// Utilities (Margin, Padding, Opacity)

h1 {
  color: $primary;
  font-size: $font-size-sm;
  margin-bottom: $base-margin;
}
a {
  color: $secondary;
}
button {
  color: white;
  border: 0;
  background: $primary;

  border-radius: $base-border-radius;
  padding: $base-padding;
}
.error {
  color: $error;
  border-color: $error;
  border-style: solid;

  margin: $base-margin;
  padding: $base-padding;
  border-radius: $base-border-radius;
  border-width: $base-border-thickness;
}
.notification {
  color: $secondary;
  border-color: $secondary;
  border-style: solid;

  margin: $base-margin;
  padding: $base-padding;
  border-radius: $base-border-radius;
  border-width: $base-border-thickness;
}
