.dynamicColorWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline: auto;
  margin-top: 30px;
  grid-column-gap: 90px;
  grid-row-gap: 30px;

  h3 {
    margin-bottom: 10px;
  }

  .dynamicColorContent {
    .dynamicColorItems {
      .dynamicColorItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
      }
    }
  }
}
